<script>
    function fetchTimings(){
        let url = "data"
        fetch(url)
        .then(res => res.json())
        .then(out => setTimings(out))
        .catch(err => console.log("Cannot reach the server..."))
    }
    function setTimings(json_object){
        for (var key in json_object){
            document.getElementById(key).textContent = json_object[key]
        }
    }
    var intervalId = window.setInterval(function(){
        fetchTimings()
    }, 1000)
</script>
<style>
    body {
        background-image: url('static/SIMPSONS_TEMPLATE.png');
        background-size: cover;
        background-repeat: no-repeat;
        font-family: Arial;
        font-size: 6vw;
        color: black;
        transform: scale(1) rotate(0deg) translate(0px, 0px) skew(14deg, 0deg);
        text-align: right;
        

    }
    div {
        min-height: 160px;
        top: 8vw;
        transform: translate(-50%, 0)
        }
</style>

<body>
    <div id="D" style="position: absolute; left: 6.8%;">{{D}}</div>
    <div id="H" style="position: absolute; left: 31.2%;">{{H}}</div>
    <div id="M" style="position: absolute; left: 59.2%;">{{M}}</div>
</body>